
:host {
  display: block;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: left; 
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
  text-align: left; }
h2{
  text-align: center;
}
mat-select {
  width: 100%;
  text-align: left;
}

button {
  width: 100%;
  margin-top: 20px;
  text-align: left;
}
