/* Styling for the user details card and centering */
.user-details-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px; // Adjust the spacing around the card
}

mat-card {
  max-width: 400px; // Adjust the maximum width of the card
  width: 100%;
}

mat-card-title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px; // Adjust the spacing below the title
}
