<h2>Edit User</h2>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput  formControlName="name" required autocomplete="off" appAlphabeticOnly/>
        <mat-label>First Name</mat-label>
  </mat-form-field>

  <mat-form-field>
    <input matInput  formControlName="email" required autocomplete="off" />
     <mat-label>Email</mat-label>

  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" formControlName="dob" required autocomplete="off" [max]="maxDate"/>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
        <mat-label>Date of Birth</mat-label>

  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="phone" required autocomplete="off" appNumericOnly/> 
      <mat-label>Phone Number</mat-label>
</mat-form-field>

  <mat-form-field>
    <mat-label>Gender</mat-label>
    <mat-select formControlName="gender" required autocomplete="off">
      <mat-option value="Male">Male</mat-option>
      <mat-option value="Female">Female</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" [disabled]="myForm.invalid" type="submit">Update Details</button>
</form>
