<app-header></app-header>
<div class="table-container">
  <table>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Phone Number</th>
      <th>Location</th>
    </tr>
    <tr>
      <td>Shreyas</td>
      <td>Poojary</td>
      <td>284521542</td>
      <td>Udupi</td>
    </tr>
    <tr>
      <td>Asheer</td>
      <td>Hameed</td>
      <td>789654231</td>
      <td>Bhatkal</td>
    </tr>
    <tr>
      <td>Nikhil</td>
      <td>Rathode</td>
      <td>879456123</td>
      <td>Belgaum</td>
    </tr>
    <tr>
      <td>Sahana</td>
      <td>Kochargi</td>
      <td>456789321</td>
      <td>Belgaum</td>
    </tr>
    <tr>
      <td>Pratik</td>
      <td>Paulkar</td>
      <td>456789321</td>
      <td>Pune</td>
    </tr>
  </table>
</div>
